@font-face {
    font-family: 'Jura';
    src: local('Jura'), url(./assets/fonts/Jura/Jura-Regular.ttf) format('opentype');
}
@font-face {
    font-family: 'Jura';
    font-weight: 400;
    src: local('Jura'), url(./assets/fonts/Jura/Jura-Regular.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'Jura';
      font-weight: 300;
      src: local('Jura'), url(./assets/fonts/Jura/Jura-Light.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'Jura';
      font-weight: 500;
      src: local('Jura'), url(./assets/fonts/Jura/Jura-Medium.ttf) format('opentype');
  }
  
  @font-face {
      font-family: 'Jura';
      font-weight: 600;
      src: local('Jura'), url(./assets/fonts/Jura/Jura-SemiBold.ttf) format('opentype');
  }
  
  
  @font-face {
      font-family: 'Jura';
      font-weight: 700;
      src: local('Jura'), url(./assets/fonts/Jura/Jura-Bold.ttf) format('opentype');
  }
  